<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Review Entry
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-title class="me" >Selected Date : {{choosenDate}}</ion-title>
        <hr>
        <ion-row *ngFor="let x of urlService.entries;let i=index;" (click)="openEntry(x)">

            <ion-col text-center col-12>
            ARF_{{ x.hourMinute}} - {{i+1}}
                <hr>
            </ion-col>
            <br>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer style="background:#003366;color: white">

    <ion-grid>

        <ion-row>

            <ion-col (click)="close();" text-center>Close</ion-col>

        </ion-row>

    </ion-grid>

</ion-footer>