<ion-item class="mainstyle">
    <ion-label item-start color="dark">{{labelName}}</ion-label>

    <ion-icon class="iconsPad" item-end name="videocam" *ngIf="!value && !loading" (click)="recordVideo()"></ion-icon>
    <span item-end>
          {{loading}}
      </span>
    <span item-end *ngIf="value && !loading">
    <ion-button size="small" color="primary" (click)="playVideo()">Play Video</ion-button>
    <ion-button size="small" color="primary" (click)="recordVideo()">Record New Video</ion-button>
      </span>
</ion-item>