<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" (click)="backMenu();">
            <ion-icon style="zoom:2.0;" name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>



<ion-content fullscreen #myContent>
    <ion-list *ngIf="local">
        <!-- <ion-item>
            <ion-label position="fixed">
                Designation:</ion-label>
            <ion-input readonly>{{this.desgination}}</ion-input>
        </ion-item> -->
        <ion-item>
            <ion-label position="fixed">Email :</ion-label>
            <ion-input readonly>{{local.profiledetails.mail}}</ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Mobile :</ion-label>
            <ion-input readonly>{{local.profiledetails.mobile}}</ion-input>
        </ion-item>
    </ion-list>
    <br>






    <!-- <div [ngSwitch]="section">
        <div class="ion-card-content-without-font-family" style="margin-top:25px;">
            <div class="detail_prf">
                <div class="detail_header">
                    Designation
                </div>
            </div>
            <ion-card-content>
                <div class='card-content-md'>
                    {{this.desgination}}
                </div>
            </ion-card-content>

            <div class="detail_prf">
                <div class="detail_header">
                    Email
                </div>
                <ion-card-content>
                    <div class='card-content-md'>
                        {{this.email}}
                    </div>

                </ion-card-content>
            </div>
            <div class="detail_prf">
                <div class="detail_header">
                    Mobile
                </div>
                <ion-card-content>
                    <div class='card-content-md'>

                        {{this.Mob}}
                    </div>
                </ion-card-content>
            </div>
        </div>
    </div> -->
</ion-content>