<ion-app>
    <ion-split-pane>
        <ion-menu type="overlay">
            <ion-header>
                <ion-toolbar color="primary">
                    <div (click)="openProfile()" class="prfile_bg">
                        <img src="http://shippalm.synergymarinegroup.com/shippalm/Uploads/UserProfilePhotos/{{profilePhoto}}" onerror="this.src='assets/images/logo.png'" class="image">
                        <ion-title class="Imagetext">


                            <div class="set_designat">{{this.desgination}}</div>
                        </ion-title>
                    </div>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                 
                  <ion-menu-toggle auto-hide="false">
                                          <ion-item (click)="homePage()">
                                              <ion-icon name="home"></ion-icon>
                                              <ion-label style="padding-left: 3%">
                                                   Home
                                              </ion-label>
                                          </ion-item>
                                          <ion-item (click)="profilePage()">
                                              <ion-icon name="person"></ion-icon>
                                              <ion-label style="padding-left: 3%">
                                                   Profile
                                              </ion-label>
                                          </ion-item>
                  
                  
                  
                                          <ion-item (click)="Logout()">
                                              <ion-icon ios="ios-power" md="md-power"></ion-icon>
                                              <ion-label style="padding-left: 3%">
                                                  Logout
                                              </ion-label>
                                            </ion-item>
                  
                  
                  
                                          
                  
                                      </ion-menu-toggle>

                    <div class="item item-avatar item-text-wrap " text-center>

                        <br>
                        <br>
                        <br>
                        <br>
                        <br>

                        <img style="max-height: 200px " src="assets/images/rbg.png " class="grow ">
                        <p class="rcolor ">Designed & Developed By</p>
                        <p class="rcolor "> RBG Labs, IIT Madras</p>
                        <hr>
                    </div>
                    <label>{{syncTitle}}</label> {{lastLoggedOutTime }}
                    <br>
                    <br>
                    <label>{{'Version:'}}</label> {{appVersion}}
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>

</ion-app>










<!-- 

<ion-menu [content]="content " side='start'>
  <ion-header>
    <ion-toolbar color="info ">
      <div (click)="openProfile() " class="prfile_bg ">
        <img src="http://shippalm.synergymarinegroup.com/shippalm/Uploads/UserProfilePhotos/{{profilePhoto}} "
          onerror="this.src='assets/imgs/logo.png' " class="image ">
        <ion-title class="Imagetext ">

          <br>
          <div class="set_designat ">{{this.desgination}}</div>
        </ion-title>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="page_setting ">

    <ion-list>
      <button menuClose ion-item (click)="homePage() ">
        <ion-icon name="ios-home ">
          <span>HomePage</span>
        </ion-icon>
      </button>
      <button menuClose ion-item *ngFor="let p of pages " (click)="openPage(p) ">
        <ion-icon name="{{p.icon}} ">
          <span> {{p.title}}</span>
        </ion-icon>
      </button>
      <button menuClose ion-item (click)="profilePage() ">
        <ion-icon name="ios-cog " style="font-size: 21px;margin-top: 0px; ">
          <span>Profile</span></ion-icon>
      </button>
      <button menuClose ion-item (click)="Logout() ">
        <ion-icon name="ios-power " style="font-size: 21px;margin-top: 0px; ">
          <span>Logout

          </span></ion-icon>
      </button>

      <div class="item item-avatar item-text-wrap " text-center>

        <br>
        <br>
        <br>
        <br>
        <br>
        <img style="max-height: 200px " src="assets/imgs/rbg.png " class="grow ">
        <p class="rcolor ">Designed & Developed By</p>
        <p class="rcolor "> RBG Labs, IIT Madras</p>
        <hr>
      </div>
      <label>{{syncTitle}}</label>
      {{lastLoggedOutTime }}
      <br>
      <br>
      <label>{{'Version:'}}</label>
      {{appVersion}}
    </ion-list>
  </ion-content>
</ion-menu> -->


<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<!-- <ion-nav #myNav [root]="rootPage " #content swipeBackEnabled="false "></ion-nav> -->