<ion-item class="mainstyle">
  <ion-label color="light" color="dark">{{labelName}}</ion-label>
  <ion-select interface="popover" [(ngModel)]="value" (ngModelChange)="onChangeObj($event)" multiple="false">
      <ion-select-option *ngFor="let x of values" [value]="x">{{x}}</ion-select-option>
  </ion-select>
</ion-item>