
<ion-item class="mainstyle">
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <div>
                    <ion-label item-start color="light" class="textBoxLabel" color="dark">{{labelName}}</ion-label>
                    <span item-end>
                        {{loading}}
                    </span>
                </div>
            </ion-col>
            <ion-col size="2" text-center>
                <div>
                    <ion-icon class="iconsPad" name="camera" (click)="pictureFromCamera($event)"></ion-icon>
                </div>
            </ion-col>
            <ion-col size="4" text-center>
                <div>
                    <ion-icon class="iconsPad" item-end *ngIf="!value && !loading" name="image"></ion-icon>
                    <div *ngIf="offline !=true">
                        <img [src]='getImage' (click)="onPhotoViewer()" *ngIf="value && !loading" item-end height="100" width="100" />
                    </div>
                    <img [src]='getImage' (click)="onPhotoViewer()" *ngIf="offline" item-end height="100" width="100" />
                </div>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-item>