page-form-by-model {
    .left {
        position: absolute;
        border-color: #34d2ca;
        left: 5%;
        width: 35%;
        bottom: 3%;
        color: white;
    }
    .right {
        position: absolute;
        border-color: #34d2ca;
        left: 55%;
        width: 35%;
        bottom: 3%;
        color: white;
    }
    .footColor {
        background-color: #003366;
    }
    .otherPadding {
        margin-left: 5px;
    }
    ion-content {
        margin-bottom: 5rem
    }
    .alert-radio-label {
        white-space: pre-line;
    }
    .alert-ios .alert-radio-label {
        white-space: pre-line;
    }
    .alert-md .alert-radio-label {
        white-space: pre-line;
    }
    .alert-wp .alert-radio-label {
        white-space: pre-line;
    }
}

// .increaseWidth {
//     font-size: 1.0rem;
//     text-transform: capitalize;
//     width: 25%;
// }
.increaseWidth {
    font-size: 1.0rem;
    text-transform: capitalize;
    width: 50%;
}

.increase {
    font-size: 1.0rem;
    text-transform: capitalize;
    width: 100%;
}

ion-button{
    text-transform: capitalize;
}
// .btm_btn_center {
//     border: 1px solid #003366;
//     padding: 0.5rem 4rem;
//     background-color: #003366;
//     border-radius: 4px;
//     color: white
// }