<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Accident Details
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <app-stringelement (returnValue)="schemaObject.acciDent.page1.investigatingOfficer=$event" [bindValue]="schemaObject.acciDent.page1.investigatingOfficer" [labelName]='"Investigating Officer *"'>
    </app-stringelement>
    <app-stringelement (returnValue)="schemaObject.acciDent.page1.firNmber=$event" [bindValue]="schemaObject.acciDent.page1.firNmber" [labelName]='"FIR Number"'></app-stringelement>
    <anyone-c (returnValue)="schemaObject.acciDent.page1.accidentSeverity=$event " [bindValue]="schemaObject.acciDent.page1.accidentSeverity " [labelName]='"Accident Severity"' [options]='accidentSeverity'></anyone-c>
    <app-datetime (returnValue)="schemaObject.acciDent.page1.accidentDate=$event" [bindValue]="schemaObject.acciDent.page1.accidentDate" [labelName]='"Accident Date and Time *"'></app-datetime>
    <location-c (returnValue)="schemaObject.acciDent.page1.location=$event" [bindValue]="schemaObject.acciDent.page1.location" [labelName]='"Accident Location"'></location-c>
    <video-c (returnValue)="schemaObject.acciDent.page8.videoRecord1=$event" [bindValue]="schemaObject.acciDent.page8.videoRecord1" [labelName]='"Vehicle video record"'></video-c>
    <video-c (returnValue)="schemaObject.acciDent.page8.videoRecord2=$event" [bindValue]="schemaObject.acciDent.page8.videoRecord2" [labelName]='"Road video record"'></video-c>
    <video-c (returnValue)="schemaObject.acciDent.page8.videoRecord3=$event" [bindValue]="schemaObject.acciDent.page8.videoRecord3" [labelName]='" Other video record"'></video-c>
    <app-numberelement (returnValue)="schemaObject.acciDent.page1.numberofVehiclesInCollision=$event" [bindValue]="schemaObject.acciDent.page1.numberofVehiclesInCollision" [labelName]='"Number of Vehicles in Collision"'></app-numberelement>
    <app-numberelement (returnValue)="schemaObject.acciDent.page2.peopleInjured=$event" [bindValue]="schemaObject.acciDent.page2.peopleInjured" [labelName]='"Number of people injured"'></app-numberelement>
    <app-numberelement (returnValue)="schemaObject.acciDent.page2.peopleDied=$event" [bindValue]="schemaObject.acciDent.page2.peopleDied" [labelName]='"Number of people died"'></app-numberelement>
    <app-numberelement (returnValue)="schemaObject.acciDent.page1.DriversInvolved=$event" [bindValue]="schemaObject.acciDent.page1.DriversInvolved" [labelName]='"Number of drivers involved"'></app-numberelement>
    <app-numberelement (returnValue)="schemaObject.acciDent.page1.PassengersInvolved=$event" [bindValue]="schemaObject.acciDent.page1.PassengersInvolved" [labelName]='"Number of passengers involved"'></app-numberelement>
    <app-numberelement (returnValue)="schemaObject.acciDent.page1.PedestriansInvovled=$event" [bindValue]="schemaObject.acciDent.page1.PedestriansInvovled" [labelName]='"Number of pedestrains involved"'></app-numberelement>
</ion-content>

    <ion-footer>
            <ion-toolbar>
              
    <ion-grid>

            <ion-row>
                    <ion-col align="center" size="4">
                            <ion-button (click)="left()">
                                    <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
                                    Back
                                  </ion-button>
                    </ion-col>
                    <ion-col align="center" size="4">
                            <ion-button (click)="submit()">
                                  
                                    {{textString}}
                                   
                                  </ion-button>
                    </ion-col>
                    <ion-col align="center" size="4">
                       
<ion-button (click)="right()">
Next
<ion-icon slot="end" name="ios-arrow-forward"></ion-icon>
</ion-button>
                    </ion-col>
                </ion-row>

    </ion-grid>
            </ion-toolbar>
          </ion-footer>



    




