<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Images Details
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-list>
        <image-c (returnValue)="schemaObject.acciDent.page6.mainResting=$event" [bindValue]="schemaObject.acciDent.page6.mainResting" [labelName]='"Main resting place of vehicles"'></image-c> 
        <image-c (returnValue)="schemaObject.acciDent.page6.obstructions=$event" [bindValue]="schemaObject.acciDent.page6.obstructions" [labelName]='"Obstructions or objects on road"'></image-c>
        <image-c (returnValue)="schemaObject.acciDent.page6.junction=$event" [bindValue]="schemaObject.acciDent.page6.junction" [labelName]='"Junction/ Road Type"'></image-c>
        <image-c (returnValue)="schemaObject.acciDent.page6.roadSurface=$event" [bindValue]="schemaObject.acciDent.page6.roadSurface" [labelName]='"Road Surface"'></image-c>
        <image-c (returnValue)="schemaObject.acciDent.page6.skidMarks=$event" [bindValue]="schemaObject.acciDent.page6.skidMarks" [labelName]='"Skid Marks"'></image-c>
        <image-c (returnValue)="schemaObject.acciDent.page6.damegeVechile=$event" [bindValue]="schemaObject.acciDent.page6.damegeVechile" [labelName]='"Damage to vehicle/ property"'></image-c>
        <image-c (returnValue)="schemaObject.acciDent.page6.featureMight=$event" [bindValue]="schemaObject.acciDent.page6.featureMight" [labelName]='"Any feature which might have contributed to the accident"'></image-c>
        <image-c (returnValue)="schemaObject.acciDent.page6.surroundings=$event" [bindValue]="schemaObject.acciDent.page6.surroundings" [labelName]='"Surroundings"'></image-c>
    </ion-list>


</ion-content>
<ion-footer>
        <ion-toolbar>
                <ion-grid>

                        <ion-row>
                                <ion-col align="center" size="6">
                                        <ion-button (click)="left()">
                                                <ion-icon slot="start" name="ios-arrow-back"></ion-icon>Back
                                              </ion-button>
                                </ion-col>
                        
                                <ion-col align="center" size="6">
                                   
        <ion-button (click)="submit()">
            {{textString}}
        
          </ion-button>
                                </ion-col>
                            </ion-row>
        
              
        </ion-grid>
        
        </ion-toolbar>
      </ion-footer>

   

